.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer */

footer {
  background-color: #2b2d42;
  width: 100%;
  height: 10%;
  padding: 0.5rem;
  margin-top: 5rem;
}

.footer-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}

.footer-right {
  max-width: 180px;
  margin-left: 30rem;
}

.footer-right a {
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

footer p.footer-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 0 10px;
  padding: 0;
}

.footer-left {
  color: white;
  margin-left: 15rem;
}
