body {
  min-height: 80vh;
}
div.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.about-page {
  min-height: 80vh;
}

.home-page {
  min-height: 80vh;
}
.contact-page {
  min-height: 80vh;
}

/* Header  & homepage*/

.click-homepage,
.project-link {
  color: #2b2d42;
  font-size: 1.2em;
  font-weight: bold;
}

.click-homepage:hover,
.project-link:hover {
  text-decoration: none;
  color: #cbc0d3;
  font-weight: bold;
}

nav.header-container {
  padding-left: 5%;
  padding-right: 5%;
}

/* Footer */

footer {
  background-color: #2b2d42;
  width: 100%;
  height: 100px;
  margin-top: 5rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: inherit;
}
.footer-left {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  align-self: center;
}

.footer-right {
  color: white;
  max-width: 20em;
  align-self: center;
}

.footer-right a {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 20px;
}
.footer-right a:nth {
  margin-right: 0;
}

footer p {
  margin: 0;
}
