body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.g-card{
  margin-bottom: 200px;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
}

.g-card-image{
  border-radius: 10px;
  width: 350px;
  height: 300px;
  box-shadow: 0px 0px 3px 1px #ccc;
  cursor: pointer;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-info{
  margin-top: 10px;
  min-height: 200px;
  max-width: 350px;
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg{
  color: #57A773;
  padding: 10px 15px;
}

.err-msg{
  color: #EE6352;
  padding: 10px 15px;
}